.block_big_right{
    background: url('Photo/tennis.png') -100px -400px/120% auto no-repeat;
}
@media screen and (max-width:1645px){
    .block_big_right{
        background: url('Photo/tennis.png') 0 0/cover no-repeat;
    }
}

@media screen and (max-width:1200px){
    .block_big_right{
        background: url('Photo/tennis.png') -400px -350px/auto no-repeat;
    }
}

@media screen and (max-width:992px){
    .block_big_right{
        background: url('Photo/tennis.png') -150px 0px/auto 100% no-repeat;
    }
}
@media screen and (max-width: 768px){
    .block_big_right{
        background: url('Photo/tennis.png') 0px -250px/100% auto no-repeat;
    }   
} 

@media screen and (max-width: 564px){
  .block_big_right{
    background: url('Photo/tennis.png') 0px -300px/100% auto no-repeat;
    }
}

@media screen and (max-width: 400px){
  .block_big{
    background: url('Photo/tennis.png') 0px -100px/100% auto no-repeat;
    }
}