

.container{
    max-width: 100%;
    
    
}
.text{
    font-family: Montserrat;
    
}
.block{
    display: flex;
    border-radius: 20px;
    width: 49%;
}
.menu_text{
    font-size: 4vw;
    padding-left: 3%;
    font-style: italic;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
}
.menu_text:hover{
    color: rgb(194, 191, 191);
}

.block_big{
    float: left;
    background-color:green;
    height: 100%;
    
}
.text_inside_block{
    font-size: 7vw;
    font-style: italic;
    font-weight: 1000;
}
.block_with_text{
    
    margin: auto;
    align-content: center;
    width: 88%;
    height: auto;
}

.block_small{
    float: right;
    padding-left: 1%;
    height: 48%;
}

::-webkit-scrollbar {
    width: 20px;
  }
::-webkit-scrollbar-track {
    background-color: transparent;
  }
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
  }

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 15px;
  }
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

@media(max-width:1200){
    .container{
        max-width: 970px;
    }
}

@media(max-width:992){
    .container{
        max-width: 750px;
    }
}

@media screen and (max-width: 768px){
    .container{
        max-width: none;
    
    }
    .block{
        display: block;
    }
    .block_big{
        width: 100%;
    }
    .block_small{
        margin-top: 1%;
        width: 99%;
        float: left;
    }
    
    
} 

